<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css" />
  </head>
  <body>
    <nav class="container">
      <ul>
        <li><strong>App</strong></li>
      </ul>
      <ul>
        <li><a href="/" role="button" class="outline">Home</a></li>
        <li><a href="/upload" role="button" class="outline">Upload</a></li>
      </ul>
    </nav>
    <main class="container">
      <section>
        <h1>Upload File</h1>
        <form method="post" action="/upload" enctype="multipart/form-data">
          <label for="file">Choose a file:</label>
          <input type="file" id="file" name="file" required />
          <button type="submit">Upload</button>
        </form>
        <label id="messageLabel">{{message}}</label>
      </section>
    </main>
  </body>
</html>